.git
.github
bin/
dist/
build/
models/*.gguf
models/*.bin
models/*.safetensors
*.air
*.metallib
*.part
*.tar.gz
*.zip
*.deb
*.rpm
coverage.txt
coverage.html
profile.pprof
*.prof
*.log
.DS_Store
.vscode
.idea
downloads/
scratch/
go-infer
goinfer
bench
quantize
package
